@import url('../default.css');
.logo{
    width: 60px;
    height: 60px;
}
.div-navbar-double-button{
    display: flex;
}
.div-navbar-double-button>a{
    margin-left: 10px;
}
.user-img{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-position: center;
	border-radius: 50%;
    border: 1px solid var(--secondary-color);
}
.navbar{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}
.navbar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 /*   background-color: white;*/
    color:var(--secondary-color);
    border: 1px var(--secondary-color) solid;
    font-weight: bolder;
    text-align: center;
    width: 160px;
    height: 50px;
}
.navbar-button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bolder;
}
