@import url('../default.css');

body{
    text-align: center;
    background-color: var(--secondary-color) !important; 
    color: var(--primary-color) !important;
}
.div-container{
    /*background-color: var(--primary2-color);*/
    color: var(--secondary-color);
}
.div-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 2%;
}
.div-card{
    border: solid 4px var(--primary2-color);
    background-color: var(--secondary-color);
    box-shadow: 10px 10px 10px 10px var(--shadow-color);
    border-radius: 40px;
    margin: 2%;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}
.div-card-field{
    display: hidden;
    width: 400px;
    height: 300px;
    margin-top: 100px;
    border-radius: 0px 0px 35px 35px;
    background-color: var(--shadow-color);
    position: relative;
}
.div-card-field-div{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.div-card-field>*{
    margin: 2%;
}
.div-card-title{
    font-weight: bolder;
    font-size: x-large;
}
.div-card-subtitle{
    font-weight: bolder;
    font-size: large;
}
.owner{
    color: greenyellow;
}
.member{
    color: deeppink;
}
.div-page-link{
    color: var(--primary-color);
    font-size: xx-large;
    font-weight: bolder;
}



.content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.lateral-container{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 300px;
    height: 800px;
    border-radius: 50px;
}
.sidebar-group-info{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary2-color);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px 50px 0px 0px ;
}
.sidebar-group-members{
    margin-bottom: 2%;
    height: 350px;
    overflow-y: scroll;
}
.group-img{
    width: 200px;
    height: 180px;
    background-size: cover;
    background-color: var(--secondary-color);
    border: solid var(--secondary2-color) 2px;
    border-radius: 20px;
}
.group-name{
    font-size: x-large;
    font-weight: bolder;
}


.group-member-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
}
.group-member-div{
    display: flex;
    justify-content: space-around;
}
.group-member-username{
    font-weight: bolder;
}






.lateral-container2{
    background-color: var(--secondary2-color); 
    width: 70%;
    border: solid 2px var(--primary-color);  
    border-radius: 50px;
}
.msgs-divs{
}
.msg-div{
    margin: 5%;
    display: flex;
}

.msg-info{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}
.msg-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
}
.msg-username{
    font-size: large;
    font-weight: bolder;
}
.msg{
    width: 80%;
}
.message-sent-form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 0px 0px 50px 50px;
}
.message-sent-form>*{
    margin: 2%;
}
.message-sent-user-img{
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}
.form-input{
    width: 550px;
    height: 30px;
    border-radius: 15px;
    border: var(--primary-color) 2px solid;
    color: var(--primary-color);
    font-weight: bolder;
    text-align: center;
}
.form-submit{
    height: 30px;
    width: 200px;
    background-color: transparent !important;
    background-image: url('/imgs/send-message.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
.hidden{
    display: none;
}