<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs',{title:"PolarTalk",cssmodulepath:"errors/errors.modules.css"})%>
<body class="error-body">
    <div class="error-root-div">
        <div>
            <h1 align="center"><%=error.message%></h1>
            <p>We are sorry,but you can't access this resource</p>
            <img src="/imgs/401.png" alt="aiai">    
            <a href="/">
                <h2 class="error-root-div-link">
                    Return to Home
                </h2> 
            </a>
        </div>
    </div>
</body>
</html>

















