<link rel="stylesheet" href="/css/navbar/navbar.modules.css">
<nav class="navbar">
    <div class="navbar-content">
        <a href="/">
            <img src="/imgs/icon.png" alt="logo" class="logo">
        </a>
    <div class="div-navbar-double-button">
    <% if(user){ %>
        <a href="/groups/user/<%=user.id%>"`>
            <div class="navbar-button">
                My Groups
            </div>
        </a>
        <a href="/groups/create"`>
            <div class="navbar-button">
                New Group
            </div>
        </a>
        <a href="/users/logoff">
            <div class="navbar-button">
                Sign out
            </div>
        </a>
        <a>
            <div class='user-img' style="background-image: url(<%=user.img%>)">
            </div>
        </a>
    <%} else{%>
            <a href="/users/login">
                <div class="navbar-button">
                    Sign in
                </div>
            </a>
            <a href="/users/register">
                <div class="navbar-button">
                    Sing up
                </div>
            </a> 
    <%}%> 
    </div>
</nav>